@font-face {
    font-family: Raleway;
    src: local('Raleway'), url(./fonts/Raleway-SemiBold.ttf) format('opentype')
}

@font-face {
    font-family: 'Roboto Condensed';
    src: local('Roboto Condensed'), url(./fonts/RobotoCondensed-Regular.ttf) format('opentype')
}

@font-face {
    font-family: 'Source Sans Pro';
    src: local('Source Sans Pro'), url(./fonts/SourceSansPro-Regular.otf) format('opentype')
}

.imgRadioButton [type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.imgRadioButton input[type=radio] + img {
    cursor: pointer;
}


.imgRadioButton input[type=radio]:checked + img {
    outline: 2px solid #A6A6A6;
}

.centerImage {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
