
.productIndexViewName {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 160%;
}

.productIndexViewPricing {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.indexView {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 40px;
}

.productIndexView {
    transition: box-shadow .5s
}

.indexView a:visited, a{
    color: #1D1F22;
    text-decoration: none;
}

.productIndexView:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

@keyframes fadeIn {
    0% {
        filter: opacity(0%);
    }
    100% {
        filter: opacity(100%);
    }
}

.productIndexCartButton {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: #5ECE7B;
    width: 52px;
    height: 52px;
    text-align: right;
    margin-top: -26px;
    margin-left: 302px;
    border-radius: 26px;

    animation: fadeIn .5s
}

.productIndexView:hover > span {
    display: block;
}

.productIndexCartButton img{
    filter: invert(100%);
}   

.outOfStock {
    opacity: 50%;
}

.outOfStock > a > .outOfStockLabel{
    display: flex;
}

.outOfStockLabel {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;

    display: none;
    position: absolute;
    z-index: 3;
    align-items: center;
    justify-content: center;

    height: 330px;
    width: 386px;

    color: #8D8F9A;
}

.categoryTitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;

    text-transform: uppercase;

    margin-bottom: 103px;
}
