
.navbar input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.navbar span {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

    color: #292929;
    text-align: center;
    padding: 19px 30px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 80px;
    transition: all .15s ease-out
}

.navbar input[type=radio]:checked + span {
    font-weight: 600;
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
    padding-bottom: 29px;
}
