
@font-face {
    font-family: Raleway;
    src: local('Raleway'), url(./fonts/Raleway-SemiBold.ttf) format('opentype')
}



.navbar input[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.navbar span {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;

    color: #292929;
    text-align: center;
    padding: 19px 30px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 80px;
    transition: border-bottom .15s ease-out
}

.navbar input[type=radio]:checked + span {
    font-weight: 600;
    color: #5ECE7B;
    border-bottom: 2px solid #5ECE7B;
    padding-bottom: 29px;
}



.navbarIcons {
    vertical-align: middle;
    overflow: hidden;
}

.navbarIcons button {
    border: none;
    background: #FFFFFF;
    display: inline-block;
    position: relative;
}

.navbarIcons button:active {
    color: #5ECE7B;     
}

.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
} 
  
.dropdownContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: box-shadow .2s, transform .1s;
}
  
.dropdownContent a:hover {
    background-color: #ddd;
}
 
.dropdownContent a:active {
    transform: scale(96%);
}

.dropdown:hover .dropdownContent {
    display: block;
}



@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

@keyframes fadeIn {
    0% {
        filter: opacity(0%);
    }
    100% {
        filter: opacity(100%);
    }
}

.navbarCart input[type=checkbox]:checked + label {
    animation: fadeOut 1s linear .2s infinite alternate;
}

.navbarCart input[type=checkbox] {
    display: none;  
    animation: fadeIn .5s reverse ease-in;
}

.navbarCart input[type=checkbox]:checked ~ div {
    display: block;
}

.navbarCart {
    overflow: hidden;
}

.navbarCartInfo {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: left;
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    animation: fadeIn .5s;
}



@keyframes dimmAnimation {
    0% {
        background-color: rgba(0,0,0,0);
        filter: brightness(100%)
    }

    100% {
        background-color: rgba(0,0,0,0.2);
        filter: brightness(80%)
    }
}

@keyframes dimmAnimation2 {
    0% {
        background-color: rgba(0,0,0,0.22);
        filter: brightness(78%)
    }

    100% {
        background-color: rgba(0,0,0,0);
        filter: brightness(100%)
    }
}

.dimmed {
    animation: dimmAnimation .5s forwards;
}

.undimmed {
    animation: dimmAnimation2 .5s forwards;
}

