
.indexView {
    display: flex;
    flex-wrap: wrap;
    gap: 100px 40px;
}

.categoryTitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 160%;
    color: #1D1F22;

    text-transform: uppercase;

    margin-bottom: 103px;
}

.indexContainer {
    width: 1238px;
    position: relative;
    margin: 0 auto;
    padding-top: 80px;
}